body{
  background-image: url("../images/triangle-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  text-align: center;
}
h1{
  text-decoration: underline;
}
#submit{
  background-color: rgb(80,208,255);
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
}

.draw{
  column-count: 3;
  column-gap: 40px;
  text-align: center;
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 300px;
}

.column1{

}
