body {
  background-image: url("../images/triangle-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  text-align: center;
}

h1 {
  margin-top: 60px;
  text-decoration: underline;
  color: #03a9f4;
  font-weight: bold;
}

#submit {
  background-color: rgb(80, 208, 255);
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
}

.draw {
  text-align: center;
  font-size: 20px;
  display: block;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  column-count: 3;
  column-gap: 40px;
}

img {
  width: 300px;
  height: 300px;
}

.main p {
  color: #03a9f4;
  font-size: 40px;
  font-weight: bold;
}

.main {
  margin-top: 50px;
  font-size: 18px;
}

#side1 {
  padding: 10px;
  margin: 20px;
}

#side2 {
  padding: 10px;
  margin: 20px;
}

#side3 {
  padding: 10px;
  margin: 20px;
}

.column3 {
  width: 400px;
  height: 00px;
}

.column2 {
  width: 400px;
  height: 500px;
}

.column1 {
  width: 400px;
  height: 500px;
}
